/*------------------------------------------------------------------
    aprendizado
-------------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
/*TEMPORARIO*/
*, *:before, *:after {
  box-sizing: border-box;
}
/*TEMPORARIO*/

.deslizante-aprendizado {
  margin: auto;
  width: 600px;
  text-align: center;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.wrapper:focus {
  outline: 0;
}

.card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.card__imagem {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.card__imagem--html-card {
  background: url("../images/amarelo-300x300-bg.jpg");
}
.card__imagem--html-card img {
  width: 400px;
  position: absolute;
  top: -65px;
  left: -70px;
}

.card__imagem--css-card {
  background: url("../images/lilas-300x300-bg.jpg");
}
.card__imagem--css-card img {
  width: 400px;
  position: absolute;
  top: -34px;
  left: -37px;
}

.card__imagem--js-card {
  background: url("../images/vermelho-300x300-bg.jpg");
}
.card__imagem--js-card img {
  width: 340px;
  position: absolute;
  top: -30px;
  left: -25px;
}

.card__imagem--php-card {
  background: url("../images/verde-300x300-bg.jpg");
}
.card__imagem--php-card img {
  width: 370px;
  position: absolute;
  top: -21px;
  left: -37px;
}

.card__imagem--sql-card {
  background: url("../images/azul-300x300-bg.jpg");
}
.card__imagem--sql-card img {
  width: 345px;
  position: absolute;
  top: -28px;
  left: -10px;
}

.card__aprendizado {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.card__aprendizado--html-card {
  color: #EC9B3B;
}

.card__aprendizado--css-card {
  color: #EE5487;
}

.card__aprendizado--js-card {
  color: #f25022;
}

.card__aprendizado--php-card {
  color: #82BB30;
}

.card__aprendizado--sql-card {
  color: #4FACFF;
}

.card__nome {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.card__descricao {
  padding: 20px;
  margin-bottom: 10px;
}

.card__info--html-card {
  background: #EC9B3B;
}
.card__info--html-card .campo {
  border-right: 1px solid #BD7C2F;
}

.card__info--css-card {
  background: #EE5487;
}
.card__info--css-card .campo {
  border-right: 1px solid #D04976;
}

.card__info--js-card {
  background: #f25022;
}
.card__info--js-card .campo {
  border-right: 1px solid #9b2c0d;
}

.card__info--php-card {
  background: #82BB30;
}
.card__info--php-card .campo {
  border-right: 1px solid #71a32a;
}

.card__info--sql-card {
  background: #4FACFF;
}
.card__info--sql-card .campo {
  border-right: 1px solid #309eff;
}

.card__info {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.card__info .campo {
  width: 33%;
  float: left;
  padding: 20px 15px;
}
.card__info sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}
.card__info .valor-campo {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}
.card__info .nome-campo {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.card__info .no-border {
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}

.slick-prev:before,
.slick-next:before
{
    color: black;
}


/*------------------------------------------------------------------
    
-------------------------------------------------------------------*/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/********************/
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/slick.woff') format('woff');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}


/*********************/
.slick-prev:before,
.slick-next:before
{
    color: black;
}