.caixa-habilidades {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  overflow: hidden;
}
.cartao-habilidade:nth-child(odd) {
  background-color: rgb(80, 80, 80);
  color: white;
}
.cartao-habilidade:nth-child(even) {
  color: rgb(80, 80, 80);;
}
.cartao-habilidade {
  width: 33.33%;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
  align-content: center;
  justify-content: center;
}
.cartao-habilidade div {
  width: 100%;
  text-align: center;
}

@media only screen and (min-width:768px) {
  .caixa-habilidades {
    font-size: 1.2rem;
  }
}

