
/*------------------------------------------------------------------
    IMPORTAR FONTES
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/*------------------------------------------------------------------
    
-------------------------------------------------------------------*/


html {
    /* font-size: 16px; */
    /* height: 100%; */
    width: 100%;
}

/*------------------------------------------------------------------
    
-------------------------------------------------------------------*/
body {
    height: 100%;
}
footer {
    height: 10%;
}
main {
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.principal {
    position: relative;
}
.secao {
    position: relative;
    overflow: hidden;
    padding: 70px 0;
}
.secao:nth-child(odd) {
    background-color: #f2f3f5;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

[class*="col-"] {
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media /*only screen and*/ (min-width: 768px) {
    .col-1 {max-width: 8.33%; flex: 0 0 8.33%;}
    .col-2 {max-width: 16.66%; flex: 0 0 16.66%;}
    .col-3 {max-width: 25%; flex: 0 0 25%;}
    .col-4 {max-width: 33.33%; flex: 0 0 33.33%;}
    .col-5 {max-width: 41.66%; flex: 0 0 41.66%;}
    .col-6 {max-width: 50%; flex: 0 0 50%;}
    .col-7 {max-width: 58.33%; flex: 0 0 58.33%;}
    .col-8 {max-width: 66.66%; flex: 0 0 66.66%;}
    .col-9 {max-width: 75%; flex: 0 0 75%;}
    .col-10 {max-width: 83.33%; flex: 0 0 83.33%;}
    .col-11 {max-width: 91.66%; flex: 0 0 91.66%;}
    .col-12 {max-width: 100%; flex: 0 0 100%;}
}














/*------------------------------------------------------------------
    provisório
-------------------------------------------------------------------*/



.sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8 {
    width: 100%;
    height: 50vw;
    background: url(uploads/banner-01.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.content {
    padding: 10px;
}
.content h1 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}
.content h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}
.content p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

/*-----------------------------*/