
@import url(//fonts.googleapis.com/css?family=Lato:300:400);


html {
width:100%;
height:100%;
font-size:16px;
user-select: none;

}
body {
width:100%;
height:100%;
position: fixed;
display:flex;
}

h1 {
font-family: 'Lato', sans-serif;
font-weight:300;
letter-spacing: 2px;
font-size: 6vh;
text-shadow: 2px 2px #aaa;

}
p {
font-family: 'Lato', sans-serif;
color:Black;
/*
text-shadow: 1px 1px black, 0 0 black, 0 0 black;
color: white;
font: 1.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;*/
}
.pagina {
width: 100%;
height:100%;
background: #1488CC;
background: radial-gradient(#80FFDB, #5390D9);
color:white;
display: flex;
flex-direction: column;
}

header {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
padding: 1vh 0;
border-bottom:1px solid black;
}
main {
display: flex;
flex-direction: column;

height:100%;
}
footer {
display: flex;
justify-content: center;
align-items: center;
color: #888;
background-color:White;
padding:2vh 0; 
}
footer p {
font-size:2vh;
}

.capa {
height:40%;
border-bottom:1px solid black;
}
.conteudo {
height:60%;
display:flex;

}
.conteudo div {
border: 1px solid black;
}


.slider {
height:100%;
text-align: center;
overflow: hidden;

}

.slides {
display: flex;
height:90%;
overflow-x: auto;
scroll-snap-type: x mandatory;

scroll-behavior: smooth;
-webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
width: 5px;
height: 3px;
}
.slides::-webkit-scrollbar-thumb {
background: black;
border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
background: transparent;
}
.slides > div {
scroll-snap-align: start;
flex-shrink: 0;
width:100%;
height:100%;
margin-right: 50px;
border-radius: 5px;
background: #eee;
transform-origin: center center;
transform: scale(1);
transition: transform 0.5s;
position: relative;

display: flex;
justify-content: center;
align-items: center;
font-size: 100px;
}

nav {
display:flex;
height:9%;
}
nav > a {
flex: 1 1 20%;
display: inline-flex;
background: white;
text-decoration: none;
align-items: center;
justify-content: center;
margin:0 0.2% 0.3%;
border-radius:2px;
position: relative;
font-size:50%;
}
nav > a:active {
top: 1px;
}
nav > a:focus {
background: #000;
}

