@media screen and (max-width: 767px) {
    .sobre-a {
        display: none;
    }
    .cartao-profissional {
        margin-top: 60px;
    }
}
@media screen and (min-width: 768px) {
    .sobre-b {
        display: none;
    }
    .sobre-a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.caixa-cartao-profissional {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.cartao-profissional {
    position: relative;
    width: 300px;
    height: 450px;
    background-color: beige;
    border-radius: 10px;
    overflow: hidden;
}
:root {
    --shadow-color: 286deg 36% 56%;
    --shadow-elevation-medium:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
      0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
      2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
      5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
    }
.cartao-profissional {
        box-shadow: var(--shadow-elevation-medium);
}
/* ********************************************** */
/* frente *************************************** */
/* ********************************************** */
.caixaDaImagem-cartao-profissional {
    position: absolute;
    top: -190px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 500px;
    background: #333;
    clip-path: circle();
}
.caixaDaImagem-cartao-profissional::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -16px;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: 0 0 0 20px rgb(255, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 1000;
    pointer-events: none;
}
.caixaDaImagem-cartao-profissional .imagem-cartao-profissional {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 300px;
    height: 310px;
    background: #ff0;
}
.caixaDaImagem-cartao-profissional .imagem-cartao-profissional img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    transform-origin: top;
}
.caixaDaImagem-cartao-profissional .imagem-cartao-profissional:hover img {
    transform: scale(1.5);
}
.caixaInformacoes-cartao-profissional-frente {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 140px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.caixaInformacoes-cartao-profissional-frente a {
    width: fit-content;
}
.fa-linkedin {
    background: #0077b5;
    color: white;
    padding: 3px 5px;
    border-radius: 2px;
}
.caixaInformacoes-cartao-profissional-frente h4 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 7px;
    padding: 0;
}
.informacoes-cartao-profissional-frente {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.informacoes-cartao-profissional-frente h5{ 
    padding: 0;
    font-weight: 900 !important;
    color: #e91e39;
}
.fa-arrow-right {
    color: #e91e39;
    transition: 0.1s;
    transform-origin: left;
}/*
.fa-arrow-right:hover {
    transform: scale(1.2);
    font-weight: 900 !important;
}*/
/* ********************************************** */
/* verso **************************************** */
/* ********************************************** */
.caixaDeTexto-cartao-profissional {
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 500px;
    background: #333;
    clip-path: circle();
}
.caixaDeTexto-cartao-profissional::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -16px;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: 0 0 0 20px rgb(255, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 1000;
    pointer-events: none;
}
.texto-cartao-profissional {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 300px;
    height: 380px;
    background: #fff;
    padding: 20px 10px 0 30px;
}

.texto-cartao-profissional h4{
    font-size: 1rem;
    font-weight: 700;    
}
.texto-cartao-profissional p{
    font-size: 0.713rem;
    margin-bottom: 3px;
    line-height: 1.7;
    
}
.caixaRodape-cartao-profissional-verso {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding: 20px 30px;
    display: flex;
    align-items: flex-end;
}
.rodape-cartao-profissional-verso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.rodape-cartao-profissional-verso h5{ 
    padding: 0;
    font-weight: 900 !important;
    color: #e91e39;
}

/* *********************************** */
/* seta flip                           */
/* *********************************** */
.b_round,
.s_round {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.8);
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.b_round {
    opacity: 0;
    background-color: rgba(255, 0, 0, 0.5);
  }
  
  .b_round_hover {
    transform: scale(1.37);
    opacity: 0.4;
  }
.fa-arrow-right {
    color: #fff;
    transition: 0.1s;
}
/*
.fa-arrow-right:hover {
    transform: scale(1.2);
    font-weight: 900 !important;
}*/


/* *********************************** */
/* botao curriculo cartao profissional */
/* *********************************** */
.download-curriculo {
        line-height: 30px;
        height: 30px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px;
        cursor: pointer;
        text-transform: uppercase;
}

.btn-hover-curriculo{
	color: #333333;
	transition: all 0.5s;
	position: relative;
	border: 1px solid #333333;
	overflow: hidden;
	padding: 0px 18px;
	display: inline-block;
}

.btn-hover-curriculo::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(-30%, 0);
    transition: all 0.3s;
}

.btn-hover-curriculo span {
    transition: all 0.3s;
}

.btn-hover-curriculo:hover{
	color: #ffffff;
    border-color: red;
	background-color: rgba(255, 0, 0, 0.7);
}
.btn-hover-curriculo:hover > span {
    opacity: 0;
    transform: translate(0px,40px);
}
.btn-hover-curriculo:hover::after {
    opacity: 1;
    transform: translate(0, 0);
}
/* *********************************** */
/* flip cartao profissional */
/* *********************************** */

.flip_box {
  position: relative;
}
.flip_box {
    transition: all 0.5s ease-out;
    transform-style: preserve-3d;
  }
.front,
.back {
  position: absolute;
  backface-visibility: hidden;
}
.container {
    perspective: 1200px;
  }
  .back {
    transform: rotateY(180deg);
  }
  .flipped {
    transform: rotateY(-180deg);
  }

 /* *********************************** */
/* botao flip cartao profissional */
/* *********************************** */


