
/*------------------------------------------------------------------
    IMPORTAR ARQUIVOS DE ESTILO
-------------------------------------------------------------------*/

@import url(css/geral.css);
@import url(css/principal.css);
@import url(css/header.css);
@import url(css/inicio.css);
@import url(css/sobre.css);
@import url(aprendizado.css);
@import url(css/galeria.css);

@import url(css/responsivo.css);



/*------------------------------------------------------------------
    
-------------------------------------------------------------------*/
.secao-titulo {
    padding-left: 1rem;
    margin-bottom: 1rem;
}
.secao-titulo h3 {
    font-size: 4rem;
}
.secao-titulo p {
    font-size: 1.5rem;
}
/*------------------------------------------------------------------
    aprendizado
-------------------------------------------------------------------*/


.cardeneta {
    background: #fff;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    

}


.cardeneta div:nth-child(1)  {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lemonchiffon;


}
.cardeneta div:nth-child(2)  {
    height: 20vh;
    padding: 0.5rem ;
    /*overflow-x: scroll;*/
    border-width: 0 0.2rem 0.2rem;
    border-style: solid;
    border-color: lemonchiffon;
}


/*------------------------------------------------------------------
    
-------------------------------------------------------------------*/
