html {
  width:100%;
  height:100%;
  font-size:16px;
}

body
{
  background-color: #0048C7;
}
.pagina {
  width:100%;
  height:100%;
  position: fixed;
  
  display: flex;
  flex-direction: column;
  overflow:hidden;
}

.capa {
  flex: 1 1 40%;
  background-color: plum;
}

.conteudo {
  flex: 1 1 60%;
}