
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*font-family: 'Roboto', sans-serif;*/

@font-face { 
   font-family: "vag-rounded-bt"; /*Define o nome da fonte.*/
   src: url("../fontes/vag-rounded-bt.ttf"); /*Define o caminho da fonte, de onde será baixada.*/
}


html { 
    font-size: 160PX;
    height: 100%;
    width: 100%;
}
body {
   background-color: rgb(209, 138, 129);
 }