
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*font-family: 'Roboto', sans-serif;*/

@font-face { 
   font-family: "vag-rounded-bt"; /*Define o nome da fonte.*/
   src: url("../fontes/vag-rounded-bt.ttf"); /*Define o caminho da fonte, de onde será baixada.*/
}
@font-face { 
   font-family: "minha-fonte"; /*Define o nome da fonte.*/
   src: url("../fontes/"); /*Define o caminho da fonte, de onde será baixada.*/
}
   
   /* font-family: nome_da-fonte; */ 
   /* para usar a fonte           */

/* ----------------------------------------
   Estilizar a pagina principal (index.html)
   ---------------------------------------- */

/* ----------------------------------------
   O Bloco Contendo Inicial (BCI) é o 
   bloco contendo os valozres raiz 
   usados para dimensionar elementos 
   em relação a seus pais. 
   ---------------------------------------- */
html { 
    font-size: 3vw;
    height: 100%;
    width: 100%;
}
body {
   background-color: rgb(180, 234, 255);
 }
 [class*="col-"] {
   width: 100%;
 }
 .conteudo {
   height: 100%;
   /*width: 100%;*/
   position: fixed; /**/
   background-color: rgb(39, 39, 39);
   display: flex;
   flex-direction: column;
 }

 .cabecalho {
    background-color: rgb(198, 234, 255);
    flex-basis: 5rem;
 }
 .principal {
    background-color: rgb(200, 255, 198);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
 }
 .rodape {
    background-color: rgb(255, 240, 240);
    flex-basis: 5rem;
 }

 .proposito {
   background-color: rgb(253, 255, 139);
   flex-basis: 40%;
 }
 .portfolio {
   background-color: rgb(139, 255, 149);
   flex-grow: 1;
 }






/*
 .sobre {background-color: rgb(255, 252, 85);}
 .portfolio {background-color: rgb(96, 85, 255);}
 .servicos {background-color: burlywood}
 .habilidades {background-color: rgb(85, 255, 99);}
 .contato {background-color: rgb(235, 85, 255);}
 */